<template>
    <div class="app flex-row align-items-center">
        <div class="container">
            <b-row class="justify-content-center">
                <b-col md="8">
                    <b-card-group>
                        <b-card no-body class="p-4">
                            <b-card-body>
                                <h1 style="color: #d34836">Авторизация</h1>
                                <p class="text-muted">Войдите в свой аккаунт</p>
                                <b-input-group class="mb-3">
                                    <b-input-group-prepend>
                                        <b-input-group-text><i class="icon-user"></i></b-input-group-text>
                                    </b-input-group-prepend>
                                    <input type="text" class="form-control" placeholder="Username" v-model="email">
                                </b-input-group>
                                <b-input-group class="mb-4">
                                    <b-input-group-prepend>
                                        <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                                    </b-input-group-prepend>
                                    <input type="password" class="form-control" placeholder="Password" v-model="password">
                                </b-input-group>
                                <b-row>
                                    <b-col cols="6">
                                        <b-button
                                                class="px-5 bg-danger"
                                                v-on:click="login"
                                        >
                                            Вход
                                        </b-button>
                                    </b-col>
                                    <b-col cols="6" class="text-right">
                                        <b-button variant="link" class="px-0">Забыли пароль?</b-button>
                                    </b-col>
                                </b-row>
                            </b-card-body>
                        </b-card>

                        <b-card no-body class="text-white bg-danger py-5 d-md-down-none" style="width:44%">
                            <b-card-body class="text-center">
                                <div>
                                    <h2>Зарегистрироваться</h2>
                                    <p>Избегание столкновения с большими силами свидетельствует не о трусости, а о мудрости, ибо принесение себя в жертву никогда и нигде не является преимуществом. </p>
                                    <b-button variant="" class="active mt-3" style="background-color: white" @click="ToRegistration">Зарегистрироваться</b-button>
                                </div>
                            </b-card-body>
                        </b-card>
                    </b-card-group>
                </b-col>
            </b-row>
        </div>
    </div>
</template>

<script>


    import Auth from "../../api/Auth";
    import Cookie from "../../utils/cookie";
    import {M_ACCESS_TOKEN} from "../../store/mutatuin-types/index"

    export default {
        loading: false,
        middleware: "not-check-auth",

        name: 'Login',
        layout: 'clean',

        mounted() {
            this.$nextTick(() => {

            })
        },


        data() {
            return {
                email: '',
                password: '',
                error: null
            }
        },


        methods: {
            async login() {
                let data = await Auth.getAccessToken(this.email, this.password);

                console.info('login...');

                Cookie.set('access_token', data.access_token);
                await this.$store.commit(M_ACCESS_TOKEN, data.access_token);

                this.$toast.show(data.msg, {
                    duration: 2500,
                    type: data.level,
                    onComplete: async () => {
                        if (data.code === 0) {
                            console.info('redirect to main...');
                            this.$router.push('/');
                        }
                    }
                })

            },

            ToRegistration(){
                this.$router.push('/account/registration')
            }
        }
    }


</script>
