<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col md="12">
                <div class="head-tools float-right">
                    <b-button variant="outline-danger" @click="deleteSelected"><i class="fa fa-trash-o"></i></b-button>
                    <b-button variant="outline-primary" @click="categoryUpdate"><i class="fa fa-refresh"></i></b-button>
                    <b-button variant="outline-success" @click="Create"><i class="fa fa-plus-square-o"
                                                                           aria-hidden="true"></i></b-button>
                </div>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-table
                        no-local-sorting hover show-empty selectable small
                        select-mode="multi"
                        selectedVariant="success"
                        :items="category.items"
                        :fields="category.fields"
                        v-model="category.extras"
                        @row-selected="rowSelected"
                        @filtered="filtered"
                        :tbody-tr-class="rowClass"
                        empty-text="Пусто"
                >
                    <!--                    <template slot="redemption_and_limiting" slot-scope="data">-->
                    <!--                        {{ data.item.redemption }}/{{ data.item.limiting }}-->
                    <!--                    </template>-->

                    <!--                    <template slot="status" slot-scope="data">-->
                    <!--                        <b-badge variant="success" v-if="data.item.status">Выпущен</b-badge>-->
                    <!--                        <b-badge variant="danger" v-if="!data.item.status">Завершён</b-badge>-->
                    <!--                    </template>-->

                    <template slot="options" slot-scope="data">
                        <div class="float-right">
                            <b-button size="sm" variant="outline-primary" @click="categoryEdit(data.item)"><i
                                    class="fa fa-pencil-square-o"></i></b-button>
                            <b-button size="sm" variant="outline-danger" @click="categoryDelete(data.item)"><i
                                    class="fa fa-trash-o"></i></b-button>
                        </div>
                    </template>

                </b-table>

                <b-pagination
                        v-model="pagination.currentPage"
                        :total-rows="category.count"
                        :per-page="pagination.perPage"
                        @change="PaginationChange"
                ></b-pagination>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import {PER_PAGE_ROWS} from "../../../utils/constants"
    import {removeFromArray, UnixToStr} from "../../../utils/functions";
    import {Category} from "../../../api/Category";

    const fields = [
        {
            key: 'name',
            label: "Наименование",
            sortable: true
        },
        {
            key: 'options',
            label: "Опции",
            sortable: false,
        },
    ]

    export default {
        name: "index",
        middleware: "check-auth",
        data: function () {
            return {
                category_selected: [],
                category: {
                    count: 0,
                    fields,
                    items: [],
                },

                pagination: {
                    perPage: PER_PAGE_ROWS,
                    currentPage: 1,
                },

            }
        },

        async asyncData(ctx) {

            let response_category = await Category.get({
                count: PER_PAGE_ROWS
            })

            return {
                category: {
                    count: response_category.count,
                    fields,
                    items: response_category.items,
                },
            }
        },

        methods: {

            PaginationChange() {
                setTimeout(async () => {
                    let offset = Math.ceil((this.pagination.perPage * this.pagination.currentPage) - this.pagination.perPage)
                    let response_discounts = await Category.get({
                        count: PER_PAGE_ROWS,
                        offset
                    })
                    this.category.items = response_discounts.items
                }, 0)
            },

            Create() {
                this.$router.push({
                    path: "/inventory/category/new"
                })
            },


            categoryEdit(item) {

                // this.$router.push({
                //     path: "/inventory/category/edit",
                //     query: {
                //         id: item.id
                //     }
                // })
            },


            deleteSelected() {
                this.category_selected.forEach((e, i, a) => {
                    this.categoryDelete(e)
                })
            },

            async categoryDelete(item) {

                let response = await Category.delete(item.id)

                this.$toast.show(response.msg, {
                    duration: 1500,
                    type: response.level,
                    onComplete: async () => {
                        if (response.code === 0)
                            if (Array.isArray(this.category.items)) {
                                let index = this.category.items.indexOf(item)
                                if (index > -1)
                                    this.category.items = removeFromArray(this.category.items, index)
                            }
                    }
                })
            },


            async categoryUpdate() {
                let offset = Math.ceil((this.pagination.perPage * this.pagination.currentPage) - this.pagination.perPage)
                let response = await Category.get({
                    count: PER_PAGE_ROWS,
                    offset
                })

                if (response.code === 0)
                    this.category.items = response.items
            },


            rowSelected(items) {
                this.category_selected = items
            },

            filtered() {

            },

            rowClass() {

            }

        }
    }
</script>

<style scoped>

</style>
