<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col md="9">
                <b-card>
                    <b-card-body>

                        <!-- NAME -->
                        <b-form-group
                                label-cols-sm="3"
                                label-cols-lg="2"
                                description=""
                                label="Название"
                                label-for="input-horizontal"
                        >
                            <b-form-input
                                    data-help-id="discount-code"
                                    v-model="category.name"
                                    type="text"
                                    @mouseenter="OnHelp"
                            >
                            </b-form-input>
                        </b-form-group>
                        <!-- NAME -->

                        <!-- DESCRIPTION -->
                        <b-form-group
                                label-cols-sm="3"
                                label-cols-lg="2"
                                description=""
                                label="Описание"
                                label-for="input-horizontal"
                        >
                            <b-form-textarea
                                    v-model="category.description"
                                    placeholder=""
                                    rows="3"
                                    max-rows="6"
                                    @mouseenter="OnHelp"
                            ></b-form-textarea>
                        </b-form-group>
                        <!-- DESCRIPTION -->

                        <!-- SEO DESCRIPTION -->
                        <b-form-group
                                label-cols-sm="3"
                                label-cols-lg="2"
                                description=""
                                label="SEO Description"
                                label-for="input-horizontal"
                        >
                            <b-form-textarea
                                    v-model="category.seo_description"
                                    placeholder=""
                                    rows="3"
                                    max-rows="6"
                                    @mouseenter="OnHelp"
                            ></b-form-textarea>
                        </b-form-group>
                        <!-- SEO DESCRIPTION -->

                        <!-- REL CANONICAL URL -->
                        <b-form-group
                                label-cols-sm="3"
                                label-cols-lg="2"
                                description=""
                                label="Rel Канонический URL"
                                label-for="input-horizontal"
                        >
                            <b-form-input
                                    data-help-id="discount-code"
                                    v-model="category.rel_canonical_url"
                                    type="text"
                                    @mouseenter="OnHelp"
                            >
                            </b-form-input>
                        </b-form-group>
                        <!-- REL CANONICAL URL -->

                        <!-- INDEXING -->
                        <div data-help-id="discount-status"
                             @mouseenter="OnHelp">
                            <b-form-group
                                    label-cols-sm="3"
                                    label-cols-lg="2"
                                    description=""
                                    label="Попросить не индексировать"
                                    label-for="input-horizontal"
                            >

                                <b-form-checkbox
                                        v-model="category.indexing"
                                        name="check-button" switch>
                                </b-form-checkbox>
                            </b-form-group>
                        </div>
                        <!-- INDEXING -->

                        <!-- VISIBILITY -->
                        <div data-help-id="discount-status"
                             @mouseenter="OnHelp">
                            <b-form-group
                                    label-cols-sm="3"
                                    label-cols-lg="2"
                                    description=""
                                    label="Публиковать"
                                    label-for="input-horizontal"
                            >

                                <b-form-checkbox
                                        v-model="category.visibility"
                                        name="check-button" switch>
                                </b-form-checkbox>
                            </b-form-group>
                        </div>
                        <!-- VISIBILITY -->

                    </b-card-body>
                    <b-card-footer class="text-right">

                        <button type="submit" class="btn btn-primary" @mouseup="save">Сохранить</button>
                        <button type="button" class="btn btn-secondary" @mouseup="cancel">Отмена</button>

                    </b-card-footer>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import {Category} from "../../../api/Category";

    export default {
        name: "new",
        middleware: "check-auth",
        data: function () {
            return {
                category: {
                    name: "",
                    description: "",
                    seo_description: "",
                    rel_canonical_url: "",
                    indexing: false,
                    visibility: false
                }
            }
        },

        asyncData(ctx) {
            return {}
        },

        methods: {


            async save() {
                console.log(this.category.indexing);
                let formData = new FormData()
                formData.append("name", this.category.name)
                formData.append("description", this.category.description)
                formData.append("rel_canonical_url", this.category.rel_canonical_url)
                formData.append("seo_description", this.category.seo_description)
                formData.append("indexing", this.category.indexing === true ? 1 : 0)
                formData.append("visibility", this.category.visibility === true ? 1 : 0)
                let response = await Category.add(formData)
                this.$toast.show(response.msg, {
                    duration: 1500,
                    type: response.level,
                    onComplete: async () => {
                        if (response.code === 0) {
                            this.$router.push({
                                path: "/inventory/category"
                            })
                        }
                    }
                })
            },


            cancel() {
                this.$router.push({
                    path: "/inventory/category"
                })
            },


            OnHelp() {

            }
        },


    }
</script>

<style scoped>

</style>
