<template>
    <div class="animated fadeIn">
        <b-container fluid>
            <b-row>
                <b-col>
                    <div class="text-center">
                        <h1>Вы хорошо поработали!</h1>
                        <p>Теперь давайте сохраним ваш замечательный продукт!</p>
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" @click="Save">Сохранить</button>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import {product} from "../../../../objects/product";
    import {Product} from "../../../../api/Product";
    import {M_PRODUCT} from '../../../../store/mutatuin-types'

    export default {
        name: "commit",
        middleware: "check-auth",

        data: function () {
            return {
                product

            }
        },


        asyncData(ctx) {
            return {
                product: ctx.store.getters[M_PRODUCT]
            }
        },

        methods: {

            async Save() {
                console.log("save...")

                let fd = new FormData();
                fd.append('product_type', this.product.productType)
                fd.append('name', this.product.name)
                fd.append('product_pricing', JSON.stringify(this.product.product_pricing))
                fd.append('advertised_price', JSON.stringify(this.product.advertised_price))
                fd.append('count_min', this.product.count_min)
                fd.append('count_max', this.product.count_max)
                fd.append('short_description', this.product.short_description)
                fd.append('long_description', this.product.long_description)
                fd.append('quantity_label', JSON.stringify(this.product.quantity_label))

                // Extras
                if (product.extras.length > 0)
                    fd.append('extras', this.product.extras.join(","))

                // Images
                if (product.images.length > 0)
                    fd.append('images', this.product.images.join(","))

                // Videos
                if (product.videos.length > 0)
                    fd.append('videos', this.product.videos.join(","))

                fd.append('options', JSON.stringify(this.product.options))


                let response = await Product.add(fd)

                this.$toast.show(response.msg, {
                    duration: 1500,
                    type: response.level,
                    onComplete: async () => {

                        if (response.code === 0)
                            this.$router.push({
                                path: "/inventory/products"
                            })
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>
