<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col class="pb-2">
                <h3>Выберите тип вашего продукта</h3>
            </b-col>
        </b-row>
        <b-row class="mt-2">
            <b-col>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Наименование</th>
                        <th scope="col">Описание</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-bind:key="item.id" v-for="item in table.items">
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>
                            <button type="button"
                                    class="btn btn-outline-success"
                                    v-bind:key="item.id"
                                    v-bind:data-id="item.id"
                                    @click="ProductTypeSelected(item.id)"
                            >Далее
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import {Product} from "../../../../api/Product";
    import {M_PRODUCT} from "../../../../store/mutatuin-types"
    import {product} from "../../../../objects/product";

    export default {
        name: "step-1",
        middleware: "check-auth",
        data: function () {
            return {
                product: product,

                table: {
                    count: 30,
                    offset: 0,
                    fields: [
                        {
                            key: 'id',
                            sortable: true,
                            visible: false
                        },
                        {
                            key: 'name',
                            sortable: true
                        },
                        {
                            key: 'description',
                            sortable: false
                        },
                    ],
                    items: []
                }
            }
        },


        async asyncData(ctx) {

            let product_type = await Product.getProductType()

            return {
                //  product: await ctx.store.getters[PRODUCT],
                table: {
                    count: 30,
                    offset: 0,
                    items: product_type.items
                }
            }
        },


        created() {
            this.events()
        },

        methods: {


            ProductTypeSelected(id) {


                this.product.productType = id
                this.$store.commit(M_PRODUCT, this.product)
                this.$router.push({
                    path: "/inventory/products/master/step-2",
                })
            },


            events() {

            }
        }
    }
</script>

<style scoped>
    table {
        user-select: none;
    }

    table tr {
        cursor: pointer;
    }
</style>
