<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col>
                <div class="float-left">
                    <h3>Дополнитеьные услуги</h3>
                </div>
                <div class="search float-right">
                    <b-form-input
                            type="search"
                            id="search"
                            placeholder="Поиск"></b-form-input>
                </div>
            </b-col>
        </b-row>
        <b-row class="mt-2">
            <b-col>
                <b-table
                        selectable no-local-sorting hover
                        select-mode="multi"
                        selectedVariant="success"
                        :items="extras.items"
                        :fields="extras.fields"
                        @row-selected="rowSelected"
                        @filtered="filtered"
                >
                </b-table>

                <b-pagination
                        v-if="extras.count"
                        v-model="pagination.currentPage"
                        :total-rows="this.extras.count"
                        :per-page="pagination.perPage"
                        @change="PaginationChange"
                ></b-pagination>
            </b-col>
        </b-row>
        <b-row>
            <b-col md="12" class="pt-5">
                <div class="form-actions">
                    <button type="button" class="btn btn-primary" @click="toBack">Назад</button>
                    <button type="button" class="btn btn-primary" @click="toNext">Далее</button>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import {M_PRODUCT} from "../../../../store/mutatuin-types"
    import {product} from "../../../../objects/product";
    import {Extras} from "../../../../api/Extras";



    export default {
        name: "step-2",
        middleware: "check-auth",
        data: function () {
            return {
                product: product,
                extras_selected: [],

                pagination: {
                    perPage: 10,
                    currentPage: 0,
                },

                /* Table products */
                extras: {
                    count: 0,
                    offset: 0,
                    fields: [],
                    items: []
                }
            }
        },

        async asyncData(ctx) {
            let response_extras = await Extras.get()

            return {
                product: ctx.store.getters[M_PRODUCT],

                extras: {
                    count: response_extras.count,
                    offset: 0,
                    fields: [
                        { key: 'name', sortable: true },
                        { key: 'price', sortable: true },
                        { key: 'description', sortable: false },
                    ],
                    items: response_extras.items
                },

            }
        },

        methods: {
            toBack(){
                this.$router.push({
                    path: "/inventory/products/master/step-1"
                })
            },

            toNext(){

                this.$store.commit(M_PRODUCT, this.product)

                this.$router.push({
                    path: "/inventory/products/master/step-3"
                })
            },

            rowSelected(rows){
                this.product.extras = []
                rows.forEach((e,i,a) => {
                    this.product.extras.push(e.id)
                })
            },

            filtered(e){
                console.log(e)
            },


            PaginationChange() {
                setTimeout(async () => {
                    let offset = Math.ceil((this.pagination.perPage * this.pagination.currentPage) - this.pagination.perPage)
                    let response_extras = await Extras.get(this.pagination.perPage, offset)
                    this.extras.items = response_extras.items
                }, 0)
            },
        }
    }
</script>

<style scoped>
    .search {
        width: 400px;
        padding: 0 0 17px 0;
    }
    .search input {
        border-radius: 5px;
    }

</style>
