<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col>
                <div class="float-left">
                    <h3>Планирование</h3>
                </div>
            </b-col>
        </b-row>
        <b-row class="mt-2">
            <b-col md="8">
                <b-card>
                    <b-card-body>

                        <!-- DATES AVAILABLE -->
                        <div data-help-id="product-dates-available"
                             @mouseenter="OnHelp">
                            <b-form-group
                                    label-cols-sm="3"
                                    label-cols-lg="2"
                                    description=""
                                    label="Даты"
                                    label-for="input-horizontal"
                            >
                                <b-form-select
                                        :options="datesAvailable"
                                >
                                </b-form-select>
                            </b-form-group>
                        </div>
                        <!-- DATES AVAILABLE -->


                        <!-- AVAILABILITY -->
                        <div data-help-id="product-available"
                             @mouseenter="OnHelp">
                            <b-form-group
                                    label-cols-sm="3"
                                    label-cols-lg="2"
                                    description=""
                                    label="Доступность"
                                    label-for="input-horizontal"
                            >
                                <b-form-select
                                        :options="Availability"
                                >
                                </b-form-select>
                            </b-form-group>
                        </div>
                        <!-- AVAILABILITY -->

                    </b-card-body>
                </b-card>
            </b-col>

            <b-col md="4" v-if="help.title">
                <b-card class="bg-primary text-center">
                    <b-card-title>{{help.title}}</b-card-title>
                    <blockquote class="card-blockquote">
                        <div v-html="help.text"></div>
                    </blockquote>
                </b-card>
            </b-col>
        </b-row>
        <b-row>
            <b-col md="12" class="pt-5">
                <div class="form-actions">
                    <button type="button" class="btn btn-primary" @click="toBack">Назад</button>
                    <button type="button" class="btn btn-primary" @click="toNext">Далее</button>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import {product_master} from "../../../../language/ru/help"
    import {product} from "../../../../objects/product"
    import {M_PRODUCT} from '../../../../store/mutatuin-types'
    import {Product} from "../../../../api/Product";

    export default {
        name: "step-4",
        middleware: "check-auth",

        validate(ctx) {
            return true;
        },

        data: function () {
            return {
                product,

                datesAvailable: [
                    {value: 0, text: "Фиксированная дата"},
                    {value: 1, text: "Любая дата"},
                    {value: 2, text: "Дата не требуется для бронирования"}
                ],
                Availability: [
                    {value: 0, text: "Фиксированный лимит на сессию"},
                    {value: 1, text: "Фиксированный лимит на опцию цены"},
                    {value: 2, text: "По ресурсам на сессию"},
                    {value: 3, text: "По ресурсам на один вариант цены"},
                    {value: 4, text: "Поделитесь с другим продуктом"},
                ],

                help: {
                    title: "",
                    text: ""
                },
                helper: product_master
            }
        },

        asyncData(ctx) {
            return {
                product: ctx.store.getters[M_PRODUCT]
            }
        },
        methods: {
            toBack() {
                this.$router.push({
                    path: "/inventory/products/master/step-3"
                })
            },

            toNext() {
                this.$router.push({
                    path: "/inventory/products/master/commit"
                })
            },

            OnHelp(e) {
                if (typeof e.target.getAttribute("data-help-id") !== "undefined")
                    this.ShowHelp(e.target.getAttribute("data-help-id"))
            },


            ShowHelp(id) {
                for (let key in this.helper) {
                    if (this.helper[key].id === id) {
                        this.help.title = this.helper[key].title
                        this.help.text = this.helper[key].text
                        return
                    }
                }
            },

        }
    }
</script>

<style scoped>

</style>
