<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col>
                <div class="float-left">
                    <h3>Основные детали вашего продукта</h3>
                </div>
            </b-col>
        </b-row>
        <b-row class="mt-3">
            <b-col md="9">

                <!-- PRODUCT NAME -->
                <b-form-group
                            label-cols-sm="3"
                            label-cols-lg="2"
                            description=""
                            label="Название продукта"
                            label-for="input-horizontal"
                    >
                        <b-form-input
                                id="product-name"
                                v-model="product.name"
                                type="text"
                                @mouseenter="OnHelp"></b-form-input>
                    </b-form-group>
                <!-- PRODUCT NAME -->

                <!-- PRODUCT PRICING -->
                <div data-help-id="product-available"
                     @mouseenter="OnHelp">
                    <b-form-group
                            label-cols-sm="3"
                            label-cols-lg="2"
                            description=""
                            label="Цены на продукцию"
                            label-for="input-horizontal"
                    >
                        <b-input-group>
                            <b-row>
                                <b-col md="5">
                                    <b-form-select
                                            :options="product_pricing_options"
                                            v-model="product_pricing_options_selected"
                                    ></b-form-select>
                                </b-col>
                                <b-col>
                                    <!-- product_pricing_by_item -->
                                    <div v-if="(product_pricing_options_selected === 'by_item')">
                                        <b-row class="pb-2">
                                            <b-col md="5">
                                                <b-form-input
                                                        v-model="product_pricing_by_item[0].label"
                                                        placeholder="Метка"
                                                />
                                            </b-col>
                                            <b-col md="5">
                                                <b-form-input
                                                        v-model="product_pricing_by_item[0].price"
                                                        type="number"
                                                />
                                            </b-col>
                                            <b-col md="2">
                                                <b-button
                                                        variant="outline-success"
                                                        @click="productPricingByItemAdd">
                                                    <i class="fa fa-plus"></i></b-button>
                                            </b-col>
                                        </b-row>

                                        <b-row v-for="(item, index) in product_pricing_by_item" v-if="index > 0"
                                               v-bind:key="index"
                                               class="pb-2"
                                        >
                                            <b-col md="5">
                                                <b-form-input
                                                        v-model="product_pricing_by_item[index].label"
                                                        placeholder="Метка"
                                                ></b-form-input>
                                            </b-col>
                                            <b-col md="5">
                                                <b-form-input
                                                        v-model="product_pricing_by_item[index].price"
                                                        type="number"></b-form-input>
                                            </b-col>
                                            <b-col md="2">
                                                <b-button
                                                        variant="outline-danger"
                                                        @click="productPricingByItemDelete(item)">
                                                    <i class="fa fa-trash-o"></i></b-button>
                                            </b-col>
                                        </b-row>
                                    </div>
                                    <!-- product_pricing_by_item -->


                                    <!-- product_pricing_by_person -->
                                    <div v-if="(product_pricing_options_selected === 'by_person')">
                                        <b-row class="pb-2">
                                            <b-col md="5">
                                                <b-form-select
                                                        :options="by_person_items"
                                                        v-model="product_pricing_by_person[0].label"
                                                ></b-form-select>
                                            </b-col>
                                            <b-col md="5">
                                                <b-form-input
                                                        v-model="product_pricing_by_person[0].price"
                                                        type="number"/>
                                            </b-col>
                                            <b-col md="2">
                                                <b-button
                                                        variant="outline-success"
                                                        @click="productPricingByPersonAdd">
                                                    <i class="fa fa-plus"></i></b-button>
                                            </b-col>
                                        </b-row>
                                        <b-row v-for="(item, index) in product_pricing_by_person" v-if="index > 0"
                                               v-bind:key="index"
                                               class="pb-2"
                                        >
                                            <b-col md="5">
                                                <b-form-select
                                                        :options="by_person_items"
                                                        v-model="product_pricing_by_person[index].label"
                                                ></b-form-select>
                                            </b-col>
                                            <b-col md="5">
                                                <b-form-input
                                                        v-model="product_pricing_by_person[index].price"
                                                        placeholder="Enter your name"></b-form-input>
                                            </b-col>
                                            <b-col md="2">
                                                <b-button
                                                        variant="outline-danger"
                                                        @click="productPricingByPersonDelete(item)">
                                                    <i class="fa fa-trash-o"></i></b-button>
                                            </b-col>
                                        </b-row>
                                    </div>
                                    <!-- product_pricing_by_person -->


                                    <!-- product_pricing_fixed -->
                                    <b-row class="pb-2" v-if="(product_pricing_options_selected === 'fixed')">
                                        <b-col md="6">
                                            <b-form-input
                                                    v-model="product_pricing_fixed"
                                                    type="number"/>
                                        </b-col>
                                    </b-row>
                                    <!-- product_pricing_fixed -->
                                </b-col>
                            </b-row>
                        </b-input-group>

                    </b-form-group>
                </div>
                <!-- PRODUCT PRICING -->

                <!-- ADVERTISED PRICE -->
                <b-form-group
                        label-cols-sm="3"
                        label-cols-lg="2"
                        description=""
                        label="Объявленная цена"
                        label-for="input-horizontal"
                >
                    <b-row>
                        <b-col md="5">
                            <b-input-group prepend="$">
                                <b-form-input
                                        id="product-price"
                                        v-model="product.advertised_price"
                                        type="number"
                                        @mouseenter="OnHelp"></b-form-input>
                            </b-input-group>
                        </b-col>
                    </b-row>

                </b-form-group>
                <!-- ADVERTISED PRICE -->

                <!-- COUNT -->
                <b-form-group
                        label-cols-sm="3"
                        label-cols-lg="2"
                        description=""
                        label="Количество"
                        label-for="input-horizontal"
                >
                    <b-input-group>

                        <b-col md="4" class="pl-0">
                            <b-form-select
                                    :options="product_count_options"
                                    v-model="product_count_options_selected"
                            ></b-form-select>
                        </b-col>

                        <b-col class="pl-0" v-if="product_count_options_selected === 'quantity_required'">
                            <b-row>
                                <b-col>
                                    <b-input-group prepend="Min">
                                        <b-form-input
                                                id="product-count-min"
                                                v-model="product.count_min"
                                                type="number"
                                                @mouseenter="OnHelp">
                                        </b-form-input>
                                    </b-input-group>
                                </b-col>
                                <b-col>
                                    <b-input-group append="Max">
                                        <b-form-input
                                                id="product-count-max"
                                                v-model="product.count_max"
                                                type="number"
                                                @mouseenter="OnHelp">
                                        </b-form-input>
                                    </b-input-group>
                                </b-col>
                            </b-row>
                        </b-col>

                    </b-input-group>
                </b-form-group>
                <!-- COUNT -->

                <!-- QUANTITY LABEL -->
                <b-form-group
                        label-cols-sm="3"
                        label-cols-lg="2"
                        description=""
                        label="Наименование количества"
                        label-for="input-horizontal"
                >
                    <b-input-group>
                        <b-col class="pl-0">
                            <b-input-group prepend="Единственное число">
                                <b-form-input
                                        id="product-quantity-label-singular"
                                        v-model="quantity_label.singular"
                                        type="text"
                                        @mouseenter="OnHelp">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                        <b-col class="pr-0">
                            <b-input-group append="Множественное число">
                                <b-form-input
                                        id="product-quantity-label-plural"
                                        v-model="quantity_label.plural"
                                        type="text"
                                        @mouseenter="OnHelp">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                    </b-input-group>
                </b-form-group>
                <!-- QUANTITY_LABEL -->

                <!-- SHORT DESCRIPTION -->
                <b-form-group
                        label-cols-sm="3"
                        label-cols-lg="2"
                        description=""
                        label="Краткое описание"
                        label-for="input-horizontal"
                >
                    <b-form-textarea
                            id="product-short-description"
                            v-model="product.short_description"
                            placeholder=""
                            rows="3"
                            max-rows="6"
                            @mouseenter="OnHelp"
                    ></b-form-textarea>
                </b-form-group>
                <!-- SHORT DESCRIPTION -->

                <!-- LONG DESCRIPTION -->
                <b-form-group
                        id="product-long-description"
                        label-cols-sm="3"
                        label-cols-lg="2"
                        description=""
                        label="Полное описание"
                        label-for="input-horizontal"

                >
                    <ckeditor

                            :editor="editor"
                            v-model="product.long_description"
                            :config="editorConfig"
                            @mouseenter="OnHelp"
                    >
                    </ckeditor>
                </b-form-group>
                <!-- LONG DESCRIPTION -->

                <!-- IMAGES -->
                <b-form-group
                        id="product-images"
                        label-cols-sm="3"
                        label-cols-lg="2"
                        description=""
                        label="Изображения"
                        label-for="input-horizontal"
                >
                    <b-col>
                        <b-row class="pb-2">
                            <b-form-file multiple :file-name-formatter="formatNames"></b-form-file>
                        </b-row>

                        <b-row>
                            <b-container class="p-4 bg-dark">
                                <b-row>
                                    <b-col>
                                        <b-img-lazy thumbnail
                                               src="https://picsum.photos/250/250/?image=54"
                                               alt="Image 1"
                                                    style="width: 20% !important; margin: 5px"
                                        ></b-img-lazy>
                                        <b-img thumbnail
                                               src="https://picsum.photos/250/250/?image=58"
                                               alt="Image 2"
                                               style="width: 20% !important; margin: 5px"
                                        ></b-img>
                                        <b-img thumbnail fluid
                                               src="https://picsum.photos/250/250/?image=59"
                                               alt="Image 3"
                                               style="width: 20% !important; margin: 5px"
                                        ></b-img>
                                    </b-col>
                                </b-row>
                            </b-container>
                        </b-row>
                    </b-col>
                </b-form-group>
                <!-- IMAGES -->

                <!-- VIDEOS -->
                <b-form-group
                        label-cols-sm="3"
                        label-cols-lg="2"
                        description=""
                        label="Видео"
                        label-for="input-horizontal"
                >
                    <!-- product_videos first -->
                    <b-row class="pb-1">
                        <b-col>
                            <b-input-group prepend="https://www.youtube.com/watch?v=">
                                <b-form-input
                                        v-model="product_videos[0]"
                                        type="text" />
                            </b-input-group>
                        </b-col>
                        <b-col md="1">
                            <b-button
                                    variant="outline-success"
                                    @click="productVideoAdd">
                                <i class="fa fa-plus"></i>
                            </b-button>
                        </b-col>
                    </b-row>
                    <!-- product_videos first -->

                    <!-- product_videos -->
                    <b-row class="pb-1" v-bind:key="index" v-for="(item, index) in product_videos"  v-if="index > 0">
                        <b-col>
                            <b-input-group prepend="https://www.youtube.com/watch?v=">
                                <b-form-input
                                        v-model="product_videos[index]"
                                        type="text" />
                            </b-input-group>
                        </b-col>
                        <b-col md="1">
                            <b-button
                                    variant="outline-danger"
                                    @click="productVideoDelete(index)">
                                <i class="fa fa-trash-o"></i>
                            </b-button>
                        </b-col>
                    </b-row>
                    <!-- product_videos -->
                </b-form-group>
                <!-- VIDEOS -->

                <!-- OPTIONS -->
                <div data-help-id="product-options"
                     @mouseenter="OnHelp">
                    <b-form-group
                            label-cols-sm="3"
                            label-cols-lg="2"
                            description=""
                            label="Можно купить в подарок"
                            label-for="input-horizontal"
                    >

                        <b-form-checkbox
                                v-model="product_options.can_buy_as_a_gift"
                                name="check-button" switch>
                        </b-form-checkbox>
                    </b-form-group>
                </div>
                <!-- OPTIONS -->

            </b-col>


            <b-col md="3" v-if="help.title">
                <b-card class="bg-primary text-center">
                    <b-card-title>{{help.title}}</b-card-title>
                    <blockquote class="card-blockquote">
                        <div v-html="help.text"></div>
                    </blockquote>
                </b-card>
            </b-col>

        </b-row>
        <b-row>
            <b-col md="12" class="pt-5">
                <div class="form-actions">
                    <button type="button" class="btn btn-primary" @click="toBack">Назад</button>
                    <button type="button" class="btn btn-primary" @click="toNext">Далее</button>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>

    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import {M_PRODUCT} from '../../../../store/mutatuin-types';
    import {product} from "../../../../objects/product";
    import {product_master} from "../../../../language/ru/help";
    import {Extras} from "../../../../api/Extras";
    import {removeFromArray} from "../../../../utils/functions";

    const product_count_options_default = "quantity_required"
    const product_count_options = [
        {text: "Требуется количество", value: "quantity_required"},
        {text: "Количество не требуется", value: "quantity_not_required"},
    ]

    const persons = [
        "Для взрослых",
        "Ребёнок",
        "Семья из 3-х человек",
    ]

    const by_person_items = []
    persons.forEach(function (e, i, a) {
        by_person_items.push(
            {text: e, value: e},
        )
    })

    export default {
        name: "step-3",
        middleware: "check-auth",
        data: function () {
            return {
                quantity_label: {
                    singular: "Участник",
                    plural: "Участники"
                },

                product,

                product_count_options_selected: product_count_options_default,
                product_count_options,

                product_pricing_options_selected: "by_person",
                product_pricing_options: [
                    {value: "by_person", text: "На человека"},
                    {value: "by_item", text: "За единицу"},
                    {value: "fixed", text: "Фикс"}
                ],
                by_person_items,
                product_pricing_by_person: [
                    {
                        label: "",
                        price: 0
                    }
                ],
                product_pricing_by_item: [
                    {
                        label: "",
                        price: 0
                    }
                ],
                product_pricing_fixed: 0,

                product_videos: [""],

                product_options: {
                    can_buy_as_a_gift: false
                },


                editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                },


                mainProps: {
                    center: false,
                    fluidGrow: true,
                    blank: true,
                    blankColor: '#bbb',
                    width: 150,
                    height: 150
                },

                help: {
                    title: "",
                    text: ""
                },
                helper: product_master
            }
        },

        validate(ctx) {
            return true;
        },

        asyncData(ctx) {
            return {
                product: ctx.store.getters[M_PRODUCT]
            }
        },


        async created() {

        },

        methods: {

            /** Add item to product_pricing_by_item */
            productPricingByItemAdd() {
                this.product_pricing_by_item.push({label: "", price: 0})
            },


            /** Delete item from product_pricing_by_item */
            productPricingByItemDelete(item) {
                console.log(item)
                let index = this.product_pricing_by_item.indexOf(item)
                if (index > -1)
                    this.product_pricing_by_item = removeFromArray(this.product_pricing_by_item, index)
            },


            /** Add item to product_pricing_by_person */
            productPricingByPersonAdd() {
                this.product_pricing_by_person.push({label: "", price: 0})
            },


            /** Delete item from product_pricing_by_person */
            productPricingByPersonDelete(item) {
                console.log(item)
                let index = this.product_pricing_by_person.indexOf(item)
                if (index > -1)
                    this.product_pricing_by_person = removeFromArray(this.product_pricing_by_person, index)
            },


            productVideoAdd(){
                this.product_videos.push("")
            },

            productVideoDelete(index){
                this.product_videos = removeFromArray(this.product_videos, index)
            },

            toBack() {
                this.$router.push({
                    path: "/inventory/products/master/step-2"
                })
            },

            toNext() {

                switch (this.product_pricing_options_selected) {
                    case "by_person": {
                        this.product.product_pricing = {
                            type: this.product_pricing_options_selected,
                            items: this.product_pricing_by_person
                        }
                        break
                    }
                    case "by_item": {
                        this.product.product_pricing = {
                            type: this.product_pricing_options_selected,
                            items: this.product_pricing_by_item
                        }
                        break
                    }
                    case "fixed": {
                        this.product.product_pricing = {
                            type: this.product_pricing_options_selected,
                            price: this.product_pricing_fixed
                        }
                        break
                    }
                    default:
                        Error("product_pricing_options_selected not selected!")
                }

                this.product.quantity_label = this.quantity_label;
                this.product.options = this.product_options;

                this.$store.commit(M_PRODUCT, this.product)

                this.$router.push({
                    path: "/inventory/products/master/step-4"
                })
            },


            formatNames(files) {
                if (files.length === 1) {
                    return files[0].name
                } else {
                    return `${files.length} files selected`
                }
            },


            OnHelp(e) {
                if (typeof e.target !== "undefined")
                    this.ShowHelp(e.target.id)
            },


            ShowHelp(id) {
                for (let key in this.helper) {
                    if (this.helper[key].id === id) {
                        this.help.title = this.helper[key].title
                        this.help.text = this.helper[key].text
                        return
                    }
                }
            }
        }
    }
</script>

<style>
    .border-none {
        border: none !important;
        outline: none !important;
    }
</style>
