
.page-title {
  width: 100%;
  height: 65px;
  padding: 10px 0;
  color: $gray-500;
}

.page-title .title-left {
  width: 45%;
  float: left;
  display: block;
}

.page-title .title-right {
  width: 55%;
  float: left;
  display: block;
}
