<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col md="12">
                <b-card border-variant="light">
                    <b-card-body>
                        <b-tabs content-class="mt-3">
                            <b-tab title="Детали" active>
                                <b-container>
                                    <b-row>
                                        <b-col>
                                            <!-- PRODUCT NAME -->
                                            <b-form-group
                                                    label-cols-sm="3"
                                                    label-cols-lg="2"
                                                    description=""
                                                    label="Название продукта"
                                                    label-for="input-horizontal"
                                            >
                                                <b-form-input
                                                        id="product-name"
                                                        v-model="product.name"
                                                        type="text"
                                                        @mouseenter="OnHelp"></b-form-input>
                                            </b-form-group>
                                            <!-- PRODUCT NAME -->

                                            <!-- PRODUCT PRICING -->
                                            <div data-help-id="product-available"
                                                 @mouseenter="OnHelp">
                                                <b-form-group
                                                        label-cols-sm="3"
                                                        label-cols-lg="2"
                                                        description=""
                                                        label="Цены на продукцию"
                                                        label-for="input-horizontal"
                                                >
                                                    <b-input-group>
                                                        <b-row>
                                                            <b-col md="5">
                                                                <b-form-select
                                                                        :options="product_pricing_options"
                                                                        v-model="product_pricing_options_selected"
                                                                ></b-form-select>
                                                            </b-col>
                                                            <b-col>
                                                                <!-- product_pricing_by_item -->
                                                                <div v-if="(product_pricing_options_selected === 'by_item')">
                                                                    <b-row class="pb-2">
                                                                        <b-col md="5">
                                                                            <b-form-input
                                                                                    v-model="product_pricing_by_item[0].label"
                                                                                    placeholder="Метка"
                                                                            />
                                                                        </b-col>
                                                                        <b-col md="5">
                                                                            <b-form-input
                                                                                    v-model="product_pricing_by_item[0].price"
                                                                                    type="number"
                                                                            />
                                                                        </b-col>
                                                                        <b-col md="2">
                                                                            <b-button
                                                                                    variant="outline-success"
                                                                                    @click="productPricingByItemAdd">
                                                                                <i class="fa fa-plus"></i></b-button>
                                                                        </b-col>
                                                                    </b-row>

                                                                    <b-row v-for="(item, index) in product_pricing_by_item" v-if="index > 0"
                                                                           v-bind:key="index"
                                                                           class="pb-2"
                                                                    >
                                                                        <b-col md="5">
                                                                            <b-form-input
                                                                                    v-model="product_pricing_by_item[index].label"
                                                                                    placeholder="Метка"
                                                                            ></b-form-input>
                                                                        </b-col>
                                                                        <b-col md="5">
                                                                            <b-form-input
                                                                                    v-model="product_pricing_by_item[index].price"
                                                                                    type="number"></b-form-input>
                                                                        </b-col>
                                                                        <b-col md="2">
                                                                            <b-button
                                                                                    variant="outline-danger"
                                                                                    @click="productPricingByItemDelete(item)">
                                                                                <i class="fa fa-trash-o"></i></b-button>
                                                                        </b-col>
                                                                    </b-row>
                                                                </div>
                                                                <!-- product_pricing_by_item -->


                                                                <!-- product_pricing_by_person -->
                                                                <div v-if="(product_pricing_options_selected === 'by_person')">
                                                                    <b-row class="pb-2">
                                                                        <b-col md="5">
                                                                            <b-form-select
                                                                                    :options="by_person_items"
                                                                                    v-model="product_pricing_by_person[0].label"
                                                                            ></b-form-select>
                                                                        </b-col>
                                                                        <b-col md="5">
                                                                            <b-form-input
                                                                                    v-model="product_pricing_by_person[0].price"
                                                                                    type="number"/>
                                                                        </b-col>
                                                                        <b-col md="2">
                                                                            <b-button
                                                                                    variant="outline-success"
                                                                                    @click="productPricingByPersonAdd">
                                                                                <i class="fa fa-plus"></i></b-button>
                                                                        </b-col>
                                                                    </b-row>
                                                                    <b-row v-for="(item, index) in product_pricing_by_person" v-if="index > 0"
                                                                           v-bind:key="index"
                                                                           class="pb-2"
                                                                    >
                                                                        <b-col md="5">
                                                                            <b-form-select
                                                                                    :options="by_person_items"
                                                                                    v-model="product_pricing_by_person[index].label"
                                                                            ></b-form-select>
                                                                        </b-col>
                                                                        <b-col md="5">
                                                                            <b-form-input
                                                                                    v-model="product_pricing_by_person[index].price"
                                                                                    placeholder="Enter your name"></b-form-input>
                                                                        </b-col>
                                                                        <b-col md="2">
                                                                            <b-button
                                                                                    variant="outline-danger"
                                                                                    @click="productPricingByPersonDelete(item)">
                                                                                <i class="fa fa-trash-o"></i></b-button>
                                                                        </b-col>
                                                                    </b-row>
                                                                </div>
                                                                <!-- product_pricing_by_person -->


                                                                <!-- product_pricing_fixed -->
                                                                <b-row class="pb-2" v-if="(product_pricing_options_selected === 'fixed')">
                                                                    <b-col md="6">
                                                                        <b-form-input
                                                                                v-model="product_pricing_fixed"
                                                                                type="number"/>
                                                                    </b-col>
                                                                </b-row>
                                                                <!-- product_pricing_fixed -->
                                                            </b-col>
                                                        </b-row>
                                                    </b-input-group>

                                                </b-form-group>
                                            </div>
                                            <!-- PRODUCT PRICING -->

                                            <!-- ADVERTISED PRICE -->
                                            <b-form-group
                                                    label-cols-sm="3"
                                                    label-cols-lg="2"
                                                    description=""
                                                    label="Объявленная цена"
                                                    label-for="input-horizontal"
                                            >
                                                <b-row>
                                                    <b-col md="5">
                                                        <b-input-group prepend="$">
                                                            <b-form-input
                                                                    id="product-price"
                                                                    v-model="product.advertised_price"
                                                                    type="number"
                                                                    @mouseenter="OnHelp"></b-form-input>
                                                        </b-input-group>
                                                    </b-col>
                                                </b-row>

                                            </b-form-group>
                                            <!-- ADVERTISED PRICE -->

                                            <!-- COUNT -->
                                            <b-form-group
                                                    label-cols-sm="3"
                                                    label-cols-lg="2"
                                                    description=""
                                                    label="Количество"
                                                    label-for="input-horizontal"
                                            >
                                                <b-input-group>

                                                    <b-col md="4" class="pl-0">
                                                        <b-form-select
                                                                :options="product_count_options"
                                                                v-model="product_count_options_selected"
                                                        ></b-form-select>
                                                    </b-col>

                                                    <b-col class="pl-0" v-if="product_count_options_selected === 'quantity_required'">
                                                        <b-row>
                                                            <b-col>
                                                                <b-input-group prepend="Min">
                                                                    <b-form-input
                                                                            id="product-count-min"
                                                                            v-model="product.count_min"
                                                                            type="number"
                                                                            @mouseenter="OnHelp">
                                                                    </b-form-input>
                                                                </b-input-group>
                                                            </b-col>
                                                            <b-col>
                                                                <b-input-group append="Max">
                                                                    <b-form-input
                                                                            id="product-count-max"
                                                                            v-model="product.count_max"
                                                                            type="number"
                                                                            @mouseenter="OnHelp">
                                                                    </b-form-input>
                                                                </b-input-group>
                                                            </b-col>
                                                        </b-row>
                                                    </b-col>

                                                </b-input-group>
                                            </b-form-group>
                                            <!-- COUNT -->

                                            <!-- QUANTITY LABEL -->
                                            <b-form-group
                                                    label-cols-sm="3"
                                                    label-cols-lg="2"
                                                    description=""
                                                    label="Наименование количества"
                                                    label-for="input-horizontal"
                                            >
                                                <b-input-group>
                                                    <b-col class="pl-0">
                                                        <b-input-group prepend="Единственное число">
                                                            <b-form-input
                                                                    id="product-quantity-label-singular"
                                                                    v-model="quantity_label.singular"
                                                                    type="text"
                                                                    @mouseenter="OnHelp">
                                                            </b-form-input>
                                                        </b-input-group>
                                                    </b-col>
                                                    <b-col class="pr-0">
                                                        <b-input-group append="Множественное число">
                                                            <b-form-input
                                                                    id="product-quantity-label-plural"
                                                                    v-model="quantity_label.plural"
                                                                    type="text"
                                                                    @mouseenter="OnHelp">
                                                            </b-form-input>
                                                        </b-input-group>
                                                    </b-col>
                                                </b-input-group>
                                            </b-form-group>
                                            <!-- QUANTITY_LABEL -->

                                            <!-- SHORT DESCRIPTION -->
                                            <b-form-group
                                                    label-cols-sm="3"
                                                    label-cols-lg="2"
                                                    description=""
                                                    label="Краткое описание"
                                                    label-for="input-horizontal"
                                            >
                                                <b-form-textarea
                                                        id="product-short-description"
                                                        v-model="product.short_description"
                                                        placeholder=""
                                                        rows="3"
                                                        max-rows="6"
                                                        @mouseenter="OnHelp"
                                                ></b-form-textarea>
                                            </b-form-group>
                                            <!-- SHORT DESCRIPTION -->

                                            <!-- LONG DESCRIPTION -->
                                            <b-form-group
                                                    id="product-long-description"
                                                    label-cols-sm="3"
                                                    label-cols-lg="2"
                                                    description=""
                                                    label="Полное описание"
                                                    label-for="input-horizontal"

                                            >
                                                <ckeditor

                                                        :editor="editor"
                                                        v-model="product.long_description"
                                                        :config="editorConfig"
                                                        @mouseenter="OnHelp"
                                                >
                                                </ckeditor>
                                            </b-form-group>
                                            <!-- LONG DESCRIPTION -->

                                            <!-- IMAGES -->
                                            <b-form-group
                                                    id="product-images"
                                                    label-cols-sm="3"
                                                    label-cols-lg="2"
                                                    description=""
                                                    label="Изображения"
                                                    label-for="input-horizontal"
                                            >
                                                <b-col>
                                                    <b-row class="pb-2">
                                                        <b-form-file multiple :file-name-formatter="formatNames"></b-form-file>
                                                    </b-row>

                                                    <b-row>
                                                        <b-container class="p-4 bg-dark">
                                                            <b-row>
                                                                <b-col>
                                                                    <b-img-lazy thumbnail
                                                                                src="https://picsum.photos/250/250/?image=54"
                                                                                alt="Image 1"
                                                                                style="width: 20% !important; margin: 5px"
                                                                    ></b-img-lazy>
                                                                    <b-img thumbnail
                                                                           src="https://picsum.photos/250/250/?image=58"
                                                                           alt="Image 2"
                                                                           style="width: 20% !important; margin: 5px"
                                                                    ></b-img>
                                                                    <b-img thumbnail fluid
                                                                           src="https://picsum.photos/250/250/?image=59"
                                                                           alt="Image 3"
                                                                           style="width: 20% !important; margin: 5px"
                                                                    ></b-img>
                                                                </b-col>
                                                            </b-row>
                                                        </b-container>
                                                    </b-row>
                                                </b-col>
                                            </b-form-group>
                                            <!-- IMAGES -->

                                            <!-- VIDEOS -->
                                            <b-form-group
                                                    label-cols-sm="3"
                                                    label-cols-lg="2"
                                                    description=""
                                                    label="Видео"
                                                    label-for="input-horizontal"
                                            >
                                                <!-- product_videos first -->
                                                <b-row class="pb-1">
                                                    <b-col>
                                                        <b-input-group prepend="https://www.youtube.com/watch?v=">
                                                            <b-form-input
                                                                    v-model="product_videos[0]"
                                                                    type="text" />
                                                        </b-input-group>
                                                    </b-col>
                                                    <b-col md="1">
                                                        <b-button
                                                                variant="outline-success"
                                                                @click="productVideoAdd">
                                                            <i class="fa fa-plus"></i>
                                                        </b-button>
                                                    </b-col>
                                                </b-row>
                                                <!-- product_videos first -->

                                                <!-- product_videos -->
                                                <b-row class="pb-1" v-bind:key="index" v-for="(item, index) in product_videos"  v-if="index > 0">
                                                    <b-col>
                                                        <b-input-group prepend="https://www.youtube.com/watch?v=">
                                                            <b-form-input
                                                                    v-model="product_videos[index]"
                                                                    type="text" />
                                                        </b-input-group>
                                                    </b-col>
                                                    <b-col md="1">
                                                        <b-button
                                                                variant="outline-danger"
                                                                @click="productVideoDelete(index)">
                                                            <i class="fa fa-trash-o"></i>
                                                        </b-button>
                                                    </b-col>
                                                </b-row>
                                                <!-- product_videos -->
                                            </b-form-group>
                                            <!-- VIDEOS -->

                                            <!-- OPTIONS -->
                                            <div data-help-id="product-options"
                                                 @mouseenter="OnHelp">
                                                <b-form-group
                                                        label-cols-sm="3"
                                                        label-cols-lg="2"
                                                        description=""
                                                        label="Можно купить в подарок"
                                                        label-for="input-horizontal"
                                                >

                                                    <b-form-checkbox
                                                            v-model="product_options.can_buy_as_a_gift"
                                                            name="check-button" switch>
                                                    </b-form-checkbox>
                                                </b-form-group>
                                            </div>
                                            <!-- OPTIONS -->
                                        </b-col>
                                    </b-row>
                                </b-container>
                            </b-tab>

                            <!-- Планирование -->
                            <b-tab title="Планирование">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Даты</label>
                                    <div class="col-sm-3">
                                        <select class="form-control">
                                            <option>Фиксированная дата</option>
                                            <option>Любая дата</option>
                                            <option>Дата не требуется для бронирования</option>
                                        </select>
                                    </div>
                                </div>
                            </b-tab>
                        </b-tabs>
                    </b-card-body>

                    <b-card-footer class="text-right">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary">Отмена</button>
                    </b-card-footer>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<script>

    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import {Product} from "../../../api/Product";
    import {product} from "../../../objects/product";

    export default {
        name: "edit",
        middleware: "check-auth",
        data: function () {
            return {
                product,

                editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                },


                helper: [
                    {
                        id: "product-name",
                        title: "Название продукта",
                        text: "Введите имя для вашего продукта. Это может быть длиной до 200 символов и должно быть уникальным."
                    }
                ]
            }
        },

        async asyncData(ctx) {
            let response_product = await Product.getById(ctx.query.id)

            return {
                product: response_product.data
            }
        },

        async created() {
            console.log(await this.getHelp("product-name"))
        },

        methods: {
            async getHelp(id) {
                return await this.helper.find(e => e.id === id)
            }
        }
    }
</script>

<style>
    .border-none {
        border: none !important;
        outline: none !important;
    }
</style>
