<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col md="12">
                <div class="head-tools float-right">
                    <b-button variant="outline-danger"  @click="ProductDeleteSelected"><i class="fa fa-trash-o"></i></b-button>
                    <b-button variant="outline-primary" @click="ProductUpdate"><i class="fa fa-refresh"></i></b-button>
                    <b-button variant="outline-success" @click="ProductCreate"><i class="fa fa-plus-square-o" aria-hidden="true"></i></b-button>
                </div>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-table
                        no-local-sorting hover show-empty small selectable
                        select-mode="multi"
                        selectedVariant="success"
                        :items="this.products.items"
                        :fields="this.products.fields"
                        @row-selected="rowSelected"
                        @filtered="filtered"
                        :tbody-tr-class="rowClass"
                        empty-text="Пусто"
                >

                    <template slot="options" slot-scope="data">
                        <div class="float-right">
                            <b-button size="sm" variant="outline-primary" @mouseup="ProductEdit(data.item.id)"><i class="fa fa-pencil-square-o"></i></b-button>
                            <b-button size="sm" variant="outline-danger"  @mouseup="ProductDelete(data.item)"><i class="fa fa-trash-o"></i></b-button>
                        </div>
                    </template>

                </b-table>

                <div class="float-right">
                    <b-pagination
                            v-if="this.products.count"
                            v-model="pagination.currentPage"
                            :total-rows="products.count"
                            :per-page="pagination.perPage"
                            @change="PaginationChange"
                    ></b-pagination>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>

    import {PER_PAGE_ROWS} from "../../../utils/constants"
    import {M_PRODUCT} from "../../../store/mutatuin-types"
    import {Product} from "../../../api/Product";

    const MAX_ROWS = 10

    export default {
        name: "index",
        middleware: "check-auth",
        data: function () {
            return {

                products_selected: [],
                /* Table products */
                products: {
                    count: 30,
                    offset: 0,
                    fields: [],
                    items: []
                },

                pagination: {
                    currentPage: 1,
                    perPage: MAX_ROWS
                }
            }
        },

        async asyncData() {
            let response_products = await Product.getProducts({
                count: MAX_ROWS
            })
            return {
                products: {
                    count: response_products.count,
                    offset: 0,
                    fields: [
                        {
                            key: 'name',
                            label: "Наименование",
                            sortable: true
                        },
                        { key: 'price', sortable: true },
                        { key: 'shortDescription', sortable: false },
                        { key: 'options', label: '', class: "text-center w-auto"}
                    ],
                    items: response_products.items
                }
            }
        },

        methods: {

            ProductCreate(){
                this.$store.commit(M_PRODUCT, {})
                this.$router.push({
                    path: "/inventory/products/master/step-1",
                })
            },

            async ProductUpdate() {
                let offset = Math.ceil((this.pagination.perPage * this.pagination.currentPage) - this.pagination.perPage)
                let response_products = await Product.getProducts({
                    count: PER_PAGE_ROWS,
                    offset
                })
                this.products.items = response_products.items
            },


            async ProductDelete(item) {
                console.log(item.id)
                let response = await Product.delete(item.id)

                this.$toast.show(response.msg, {
                    duration: 1500,
                    type: response.level,
                    onComplete: async () => {
                        this.ProductUpdate()
                    }
                })
            },

            ProductEdit(id){
                this.$router.push({
                    path: "/inventory/products/edit",
                    query: {
                        id
                    }
                })
            },

            ProductDeleteSelected(){

            },


            PaginationChange() {
                setTimeout(async () => {
                    let offset = Math.ceil((this.pagination.perPage * this.pagination.currentPage) - this.pagination.perPage)
                    let response_products = await Product.getProducts({
                        count: PER_PAGE_ROWS,
                        offset
                    })
                    this.products.items = response_products.items
                }, 0)
            },

            rowSelected(items) {
                this.products_selected = items
            },

            rowClass(item, type) {
                console.log(item, type)
            }
        }
    }
</script>

<style lang="scss" scoped>


</style>
