<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col md="12">
                <div class="head-tools float-right">
                    <b-button variant="outline-danger" @click="DiscountDeleteSelected"><i class="fa fa-trash-o"></i>
                    </b-button>
                    <b-button variant="outline-primary" @click="DiscountUpdate"><i class="fa fa-refresh"></i></b-button>
                    <b-button variant="outline-success" @click="DiscountCreate"><i class="fa fa-plus-square-o"
                                                                                   aria-hidden="true"></i></b-button>
                </div>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-table
                        no-local-sorting hover show-empty selectable small
                        select-mode="multi"
                        selectedVariant="success"
                        :items="discount.items"
                        :fields="discount.fields"
                        v-model="discount.extras"
                        @row-selected="rowSelected"
                        @filtered="filtered"
                        :tbody-tr-class="rowClass"
                        empty-text="Пусто"
                >
                    <template slot="redemption_and_limiting" slot-scope="data">
                        {{ data.item.redemption }}/{{ data.item.limiting }}
                    </template>

                    <template slot="status" slot-scope="data">
                        <b-badge variant="success" v-if="data.item.status">Выпущен</b-badge>
                        <b-badge variant="danger" v-if="!data.item.status">Завершён</b-badge>
                    </template>

                    <template slot="options" slot-scope="data">
                        <div class="float-right">
                            <b-button size="sm" variant="outline-primary" @click="DiscountEdit(data.item)"><i
                                    class="fa fa-pencil-square-o"></i></b-button>
                            <b-button size="sm" variant="outline-danger" @click="DiscountDelete(data.item)"><i
                                    class="fa fa-trash-o"></i></b-button>
                        </div>
                    </template>

                </b-table>

                <b-pagination
                        v-model="pagination.currentPage"
                        :total-rows="discount.count"
                        :per-page="pagination.perPage"
                        @change="PaginationChange"
                ></b-pagination>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import {PER_PAGE_ROWS} from "../../../utils/constants"
    import {Discount} from "../../../api/Discount";
    import {UnixToStr} from "../../../utils/functions";

    const fields =  [
            {key: 'code', label: "Код", sortable: true},
            {
                key: 'status',
                label: "Статус",
                sortable: true,
            },
            {
                key: 'redemption_and_limiting',
                label: "Исполнено/осталось",
                sortable: false
            },
            {
                key: 'validity',
                label: "Срок действия",
                sortable: true,
                formatter: (value, key, item) => {
                    let validityFrom = UnixToStr(item.validityFrom)
                    let validityTo = UnixToStr(item.validityTo)
                    return `${validityFrom} до ${validityTo}`
                }
            },
            {
                key: 'options',
                label: "Опции",
                sortable: false,
            },
        ]

    export default {
        name: "index",
        middleware: "check-auth",

        data: function () {
            return {
                discount_selected: [],
                discount: {
                    count: 0,
                    fields,
                    items: [],
                },

                pagination: {
                    perPage: PER_PAGE_ROWS,
                    currentPage: 1,
                },

            }
        },

        async asyncData(ctx) {

            let response_discount = await Discount.get({
                count: PER_PAGE_ROWS
            })

            return {
                discount: {
                    count: response_discount.count,
                    fields,
                    items: response_discount.items,
                },
            }
        },

        methods: {

            PaginationChange() {
                setTimeout(async () => {
                    let offset = Math.ceil((this.pagination.perPage * this.pagination.currentPage) - this.pagination.perPage)
                    let response_discount = await Discount.get({
                        count: PER_PAGE_ROWS,
                        offset
                    })
                    this.discount.items = response_discount.items
                }, 0)
            },


            DiscountCreate() {
                this.$router.push({
                    path: "/inventory/discount/new"
                })
            },


            DiscountEdit(item) {
                this.$router.push({
                    path: "/inventory/discount/edit",
                    query: {
                        id: item.id
                    }
                })
            },


            DiscountDeleteSelected() {
                this.category_selected.forEach((e, i, a) => {
                    this.DiscountDelete(e)
                })
            },

            async DiscountDelete(item) {

                let response = await Discount.delete(item.id)

                this.$toast.show(response.msg, {
                    duration: 1500,
                    type: response.level,
                    onComplete: async () => {
                        this.DiscountUpdate()
                    }
                })

            },


            async DiscountUpdate() {
                let offset = Math.ceil((this.pagination.perPage * this.pagination.currentPage) - this.pagination.perPage)
                let response_discount = await Discount.get({
                    count: PER_PAGE_ROWS,
                    offset
                })
                this.discount.items = response_discount.items
            },


            rowSelected(items) {
                this.discount_selected = items
            },


            rowClass() {

            },

            filtered() {

            }

        }
    }
</script>

<style scoped>

</style>
