<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col md="9">
                <b-card>
                    <b-card-body>

                        <!-- CODE -->
                        <b-form-group
                                label-cols-sm="3"
                                label-cols-lg="2"
                                description=""
                                label="Код *"
                                label-for="input-horizontal"
                        >
                            <b-form-input
                                    data-help-id="discount-code"
                                    v-model="discount.code"
                                    type="text"
                                    @mouseenter="OnHelp"
                            >
                            </b-form-input>
                        </b-form-group>
                        <!-- CODE -->

                        <!-- APPLIED ONCE PER -->
                        <div data-help-id="discount-applied_once_per"
                             @mouseenter="OnHelp">
                            <b-form-group
                                    label-cols-sm="3"
                                    label-cols-lg="2"
                                    description="Применяется один раз"
                                    label="Применить к"
                                    label-for="input-horizontal"
                            >
                                <b-form-select
                                        v-model="discount.appliedOncePer"
                                        :options="appliedOncePer_options"
                                >
                                </b-form-select>
                            </b-form-group>
                        </div>
                        <!-- APPLIED ONCE PER -->

                        <!-- VALIDITY DATE -->
                        <div data-help-id="discount-validity"
                             @mouseenter="OnHelp">
                            <b-form-group
                                    label-cols-sm="3"
                                    label-cols-lg="2"
                                    description=""
                                    label="Период действия"
                                    label-for="input-horizontal"
                            >
                                <b-input-group>
                                    <b-col class="pl-0">
                                        <b-form-input
                                                type="date"
                                                v-model="discount.validityFrom"
                                        ></b-form-input>
                                    </b-col>
                                    <b-col class="pr-0">
                                        <b-form-input
                                                type="date"
                                                v-model="discount.validityTo"
                                        ></b-form-input>
                                    </b-col>
                                </b-input-group>
                            </b-form-group>
                        </div>
                        <!-- VALIDITY DATE -->

                        <!-- LIMITING -->
                        <b-form-group
                                label-cols-sm="3"
                                label-cols-lg="2"
                                description="0 - Неограниченно"
                                label="Ограничение"
                                label-for="input-horizontal"
                        >
                            <b-form-input
                                    v-model="discount.limiting"
                                    type="number"
                                    data-help-id="discount-limiting"
                                    @mouseenter="OnHelp"
                            ></b-form-input>

                        </b-form-group>
                        <!-- LIMITING -->

                        <!-- MIN AMOUNT -->
                        <b-form-group
                                label-cols-sm="3"
                                label-cols-lg="2"
                                description=""
                                label="Минимальная сумма"
                                label-for="input-horizontal"
                        >
                            <b-form-input
                                    v-model="discount.minAmount"
                                    type="number"
                                    data-help-id="discount-minAmount"
                                    @mouseenter="OnHelp"
                            ></b-form-input>
                        </b-form-group>
                        <!-- MIN AMOUNT -->

                        <!-- TAXES FEES -->
                        <div data-help-id="discount-taxesFees"
                             @mouseenter="OnHelp">
                            <b-form-group
                                    label-cols-sm="3"
                                    label-cols-lg="2"
                                    description=""
                                    label="Налоги и сборы"
                                    label-for="input-horizontal"
                                    data-help-id="discount-taxesFees"
                                    @mouseenter="OnHelp"
                            >

                                <b-form-checkbox
                                        v-model="discount.taxesFees"
                                        name="check-button" switch>
                                </b-form-checkbox>
                            </b-form-group>
                        </div>

                        <!-- TAXES FEES -->
                    </b-card-body>
                    <b-card-footer class="text-right">

                        <button type="submit" class="btn btn-primary" @mouseup="DiscountSave">Сохранить</button>
                        <button type="button" class="btn btn-secondary" @mouseup="DiscountCancel">Отмена</button>

                    </b-card-footer>
                </b-card>
            </b-col>
            <b-col md="3" v-if="help.title">
                <b-card class="bg-primary text-center">
                    <b-card-title>{{help.title}}</b-card-title>
                    <blockquote class="card-blockquote">
                        <div v-html="help.text"></div>
                    </blockquote>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>


<script>
    import {discountNew} from "../../../objects/discount";
    import {discount as discount_help} from "../../../language/ru/help";
    import {Discount} from "../../../api/Discount";
    import {StrDateToUnix} from "../../../utils/functions";
    import moment from "moment";

    export default {
        name: "new",
        middleware: "check-auth",

        data: function () {
            return {
                discount: discountNew,

                appliedOncePer_options: [
                    {value: 0, text: "Ко всем"},
                    {value: 1, text: "К продукту"},
                    {value: 2, text: "К заказу"}
                ],

                help: {
                    title: "",
                    text: "",
                },
                helper: discount_help
            }
        },

        asyncData() {

        },

        created(){
           console.log( moment())
        },

        methods: {
            OnHelp(e) {
                console.log(e.target.getAttribute("data-help-id"))
                if (typeof e.target.getAttribute("data-help-id") !== "undefined")
                    this.ShowHelp(e.target.getAttribute("data-help-id"))
            },


            ShowHelp(id) {
                for (let key in this.helper) {
                    if (this.helper[key].id === id) {
                        this.help.title = this.helper[key].title
                        this.help.text = this.helper[key].text
                        return
                    }
                }
            },

            async DiscountSave() {
                let fd = new FormData();

                fd.append("id", this.discount.id)
                fd.append("code", this.discount.code)
                fd.append("status", this.discount.status)
                fd.append("validityFrom", StrDateToUnix(this.discount.validityFrom))
                fd.append("validityTo", StrDateToUnix(this.discount.validityTo))
                fd.append("appliedOncePer", this.discount.appliedOncePer)
                fd.append("limiting", this.discount.limiting)
                fd.append("minAmount", this.discount.minAmount)
                fd.append("taxesFees", this.discount.taxesFees)

                let response = await Discount.add(fd)

                this.$toast.show(response.msg, {
                    duration: 1500,
                    type: response.level,
                    onComplete: async () => {
                        this.$router.push({
                            path: "/inventory/discount"
                        })
                    }
                })
            },

            DiscountCancel() {

            }
        }
    }
</script>

<style>

</style>

