<template>
    <div class="DTable">
        <table class="table table-hover" v-bind:class="{hover: hover}">
            <thead>
            <tr>
                <th scope="col" v-for="(item, key) in header" v-bind:key="key">{{item}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, key_tr) in items" v-bind:key="key_tr">
                <td v-for="(td_item, td_key) in item" v-bind:key="td_key">{{ td_item }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: {
            hover: false,
            header: [],
            items: []
        },

        data: () => {
            return {

            }
        },

        mounted: {},

        methods: {
            created(){

            }
        }
    };
</script>
