<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col>
                <b-card class="border border-white">
                    <b-card-header class="bg-white gradient">
                        <b-img-lazy class="img-avatar mb-2" :src="profile.image"></b-img-lazy>
                        <b-card-title>{{ profile.last_name }} {{ profile.first_name }}</b-card-title>
                        <b-card-sub-title class="pb-1">Статус: поставщик услуг</b-card-sub-title>
                        <b-card-sub-title class="pb-1">Дата регистрации: {{profile.create_at}}</b-card-sub-title>
                    </b-card-header>

                    <b-card-body>
                        <b-row>
                            <b-col md="6">
                                <!-- FIRST NAME -->
                                <b-form-group
                                        label-cols-sm="3"
                                        label-cols-lg="2"
                                        description=""
                                        label="Имя"
                                        label-for="input-horizontal">
                                    <b-form-input
                                            v-model="profile.first_name"
                                            type="text">
                                    </b-form-input>
                                </b-form-group>
                                <!-- FIRST NAME -->

                                <!-- LAST NAME -->
                                <b-form-group
                                        label-cols-sm="3"
                                        label-cols-lg="2"
                                        description=""
                                        label="Фамилия"
                                        label-for="input-horizontal">
                                    <b-form-input
                                            v-model="profile.last_name"
                                            type="text">
                                    </b-form-input>
                                </b-form-group>
                                <!-- LAST NAME -->

                                <!-- EMAIL -->
                                <b-form-group
                                        label-cols-sm="3"
                                        label-cols-lg="2"
                                        description=""
                                        label="Эл. почта"
                                        label-for="input-horizontal">
                                    <b-form-input
                                            disabled
                                            v-model="profile.email"
                                            type="text">
                                    </b-form-input>
                                </b-form-group>
                                <!-- EMAIL -->

                                <!-- PHONE -->
                                <b-form-group
                                        label-cols-sm="3"
                                        label-cols-lg="2"
                                        description=""
                                        label="Телефон"
                                        label-for="input-horizontal">
                                    <b-form-input
                                            disabled
                                            v-model="profile.phone"
                                            type="text">
                                    </b-form-input>
                                </b-form-group>
                                <!-- PHONE -->

                                <!-- PASSWORD -->
                                <b-form-group
                                        label-cols-sm="3"
                                        label-cols-lg="2"
                                        description=""
                                        label="Пароль"
                                        label-for="input-horizontal">
                                    <b-form-input
                                            disabled
                                            v-model="profile.password"
                                            placeholder="•••••••••••••••"
                                            type="text">
                                    </b-form-input>
                                </b-form-group>
                                <!-- PASSWORD -->

                                <!-- CONFIRM PASSWORD -->
                                <b-form-group
                                        label-cols-sm="3"
                                        label-cols-lg="2"
                                        description=""
                                        label="Подтвердите пароль"
                                        label-for="input-horizontal">
                                    <b-form-input
                                            disabled
                                            v-model="profile.confirm_password"
                                            placeholder="•••••••••••••••"
                                            type="text">
                                    </b-form-input>
                                </b-form-group>
                                <!-- CONFIRM PASSWORD -->
                            </b-col>
                        </b-row>




                    </b-card-body>
                    <b-card-footer class="text-right bg-white">

                        <button type="submit" class="btn btn-primary" @mouseup="saveProfileInfo">Сохранить</button>
                        <button type="button" class="btn btn-secondary" @mouseup="DiscountCancel">Отмена</button>

                    </b-card-footer>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import Account from "../../../api/Account";
    import {UnixToStr} from "../../../utils/functions";
    import {TOAST_DURATION} from "../../../utils/constants"

    export default {
        name: "profile",
        middleware: "check-auth",

        data: function () {
            return {
                password: "",
                confirm_password: "",
                profile: {
                    id: 0,
                    first_name: "",
                    last_name: "",
                    email: "",
                    phone: "",
                    image: "",
                    create_at: {
                        timestamp: 0
                    },
                    group: {}
                }
            }
        },

        async asyncData() {

            let profile = await Account.getProfileInfo();
            profile.data.create_at = UnixToStr(profile.data.create_at.timestamp);

            return {
                profile: profile.data
            }
        },

        methods: {
            async saveProfileInfo() {
                let fd = new FormData();
                fd.append("id", this.profile.id);
                fd.append("first_name", this.profile.first_name);
                fd.append("last_name", this.profile.last_name);
                fd.append("email", this.profile.email);
                fd.append("phone", this.profile.phone);

                if (this.password)
                    fd.append("password", this.password);
                if (this.password)
                    fd.append("confirm_password", this.confirm_password);

                let response = await Account.saveProfileInfo(fd);

                this.$toast.show(response.msg, {
                    duration: TOAST_DURATION,
                    type: response.level,
                    onComplete: async () => {

                        if (response.code === 0)
                            this.$router.push({
                                path: "/account/profile"
                            })
                    }
                })
            }
        }
    }
</script>

<style lang="css" scoped>
    .gradient {
        background: rgba(0, 0, 227, 0);
        background: -moz-linear-gradient(left, rgba(0, 0, 227, 0) 0%, rgba(7, 54, 100, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 227, 0)), color-stop(100%, rgba(7, 54, 100, 1)));
        background: -webkit-linear-gradient(left, rgba(0, 0, 227, 0) 0%, rgba(7, 54, 100, 1) 100%);
        background: -o-linear-gradient(left, rgba(0, 0, 227, 0) 0%, rgba(7, 54, 100, 1) 100%);
        background: -ms-linear-gradient(left, rgba(0, 0, 227, 0) 0%, rgba(7, 54, 100, 1) 100%);
        background: linear-gradient(to right, rgba(0, 0, 227, 0) 0%, rgba(7, 54, 100, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000e3', endColorstr='#06063d', GradientType=1);
        transition: all;
        transition-delay: 5s;
        transition-duration: 5s;
    }

    .contact-group li {
        padding: 2px;
    }

    .contact-group li i {
        padding-right: 5px;
    }


</style>
