<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col>
                <b-card class="border border-white">
                    <b-card-header class="bg-white gradient p-3">
                        <b-card-group>
                            <b-col class="align-self-start p-0 pt-2">
                                <b-img-lazy class="img-avatar mb-2"
                                            src="https://habrastorage.org/r/w120/webt/5d/07/96/5d0796e3dbec3359239103.jpeg"/>
                                <b-card-title>{{ profile.last_name }} {{ profile.first_name }}</b-card-title>
                                <b-card-sub-title class="pb-2">Статус: поставщик услуг</b-card-sub-title>
                                <b-card-sub-title class="pb-1">Дата регистрации: {{profile.create_at}}
                                </b-card-sub-title>
                            </b-col>
                            <b-col class="text-right align-self-end p-0 pt-2">
                                <b-button class="btn btn-sm btn-success"
                                          @click="editProfile()">
                                    <i class="fa fa-edit"></i> Редактировать
                                </b-button>
                            </b-col>
                        </b-card-group>

                    </b-card-header>

                    <b-card-body>
                        <b-row>
                            <b-col md="4">
                                <b-list-group class="contact-group pt-5" flush tag="ul">
                                    <b-card-title>Контакты</b-card-title>
                                    <b-list-group-item tag="li">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <a>{{profile.email}}</a>
                                    </b-list-group-item>
                                    <b-list-group-item tag="li">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <a>{{profile.phone}}</a>
                                    </b-list-group-item>
                                </b-list-group>
                            </b-col>

<!--                            <b-col md="8">-->
<!--                                <b-list-group class="contact-group pt-5" flush tag="div">-->
<!--                                    <b-card-title>Аналитика</b-card-title>-->
<!--                                    <b-list-group-item>-->
<!--                                        -->
<!--                                    </b-list-group-item>-->
<!--                                </b-list-group>-->
<!--                            </b-col>-->
                        </b-row>
                    </b-card-body>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<script>


    import Account from "../../../api/Account";
    import {UnixToStr} from "../../../utils/functions";
    import BarExample from '~/components/charts/BarExample'
    import ChartBar from "../../../components/charts/Bar/Chart-bar";

    export default {
        name: "profile",
        middleware: "check-auth",

        components: {
            ChartBar,
            BarExample
        },

        data: function () {
            return {
                profile: {
                    id: 0,
                    first_name: "",
                    last_name: "",
                    email: "",
                    phone: "",
                    image: "",
                    create_at: {
                        timestamp: 0
                    },
                    group: {}
                }
            }
        },

        async asyncData() {

            let profile = await Account.getProfileInfo();
            profile.data.create_at = UnixToStr(profile.data.create_at.timestamp);

            return {
                profile: profile.data
            }
        },

        methods: {
            editProfile(){
                this.$router.push({
                    path: "/account/profile/edit"
                })
            }
        }
    }
</script>

<style lang="css" scoped>
    .gradient {
        background: rgba(0, 0, 227, 0);
        background: -moz-linear-gradient(left, rgba(0, 0, 227, 0) 0%, rgba(6, 6, 61, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 227, 0)), color-stop(100%, rgba(6, 6, 61, 1)));
        background: -webkit-linear-gradient(left, rgba(0, 0, 227, 0) 0%, rgba(6, 6, 61, 1) 100%);
        background: -o-linear-gradient(left, rgba(0, 0, 227, 0) 0%, rgba(6, 6, 61, 1) 100%);
        background: -ms-linear-gradient(left, rgba(0, 0, 227, 0) 0%, rgba(6, 6, 61, 1) 100%);
        background: linear-gradient(to right, rgba(0, 0, 227, 0) 0%, rgba(6, 6, 61, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000e3', endColorstr='#06063d', GradientType=1);
    }

    .contact-group li {
        padding: 2px;
    }

    .contact-group li i {
        padding-right: 5px;
    }


</style>
