<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col>
                <div class="head-tools float-right">
                    <b-button variant="outline-primary" @click="PackageCreate">Создать пакет</b-button>
                </div>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-table
                        no-local-sorting hover show-empty
                        select-mode="multi"
                        selectedVariant="success"
                        :items="packages.items"
                        :fields="packages.fields"
                        v-model="packages.extras"
                        @row-selected="rowSelected"
                        @filtered="filtered"
                        :tbody-tr-class="rowClass"
                        empty-text="Пусто"
                >
                </b-table>

                <div class="float-right">
                    <b-pagination
                            v-if="packages.count"
                            v-model="pagination.currentPage"
                            :total-rows="packages.count"
                            :per-page="pagination.perPage"
                            @change="PaginationChange"
                    ></b-pagination>
                </div>

            </b-col>
        </b-row>
        <b-row>
            <b-col md="12" class="pt-5">
                <div class="form-actions">
                    <button type="button" class="btn btn-primary" @click="toBack">Назад</button>
                    <button type="button" class="btn btn-primary" @click="toNext">Далее</button>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import {PER_PAGE_ROWS} from "../../../utils/constants"

    export default {
        name: "index",
        middleware: "check-auth",
        data: function () {
            return {
                packages: {
                    count: 0,
                    fields: [
                        { key: 'name', label: "Наименование",  sortable: true },
                        { key: 'discount', label: "Скидка", sortable: true },
                        { key: 'products', label: "Товары", sortable: false },
                    ],
                    items: []
                },

                pagination: {
                    perPage: PER_PAGE_ROWS,
                    currentPage: 1,
                },
            }
        },

        methods: {
            rowClass(){

            },

            rowSelected() {

            },

            filtered(){

            },

            PackageCreate(){
                this.$router.push({
                    patch: "/inventory/packages/new"
                })
            }
        }
    }
</script>

<style scoped>

</style>
