<template>
    <div class="animated fadeIn">
            <div class="page-title">
                <div class="title-left">
                    <h4>Заголовок</h4>
                </div>
                <div class="title-right">

                </div>
            </div>
        <div class="clearfix"></div>

        <b-row>
            <b-col md="9">
                <!-- PRODUCT NAME -->
                <b-form-group
                        label-cols-sm="3"
                        label-cols-lg="2"
                        description=""
                        label="Название пакета"
                        label-for="input-horizontal"
                >
                    <b-form-input
                            id="package-name"
                            v-model="pack.name"
                            type="text"
                            @focus="FormFocus"></b-form-input>
                </b-form-group>
                <!-- PRODUCT NAME -->
            </b-col>

            <b-col md="3" v-if="help.title">
                <b-card class="bg-primary text-center">
                    <b-card-title>{{help.title}}</b-card-title>
                    <blockquote class="card-blockquote">
                        <div v-html="help.text"></div>
                    </blockquote>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import {pack} from "../../../objects/package";
    import {packages} from "../../../language/ru/help";

    export default {
        name: "new",
        middleware: "check-auth",
        data: function () {
            return{
                pack,
                help: {
                    title: "",
                    text: "",
                },
                helper: packages
            }
        },

        // asyncData() {
        //     return{
        //         pack
        //     }
        // }

        methods: {


            OnHelp(e) {
                if (typeof e.target !== "undefined")
                    this.ShowHelp(e.target.id)
            },


            ShowHelp(id) {
                for (let key in this.helper) {
                    if (this.helper[key].id === id) {
                        this.help.title = this.helper[key].title
                        this.help.text = this.helper[key].text
                        return
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
