<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col md="3" sm="3" xs="12" class="profile-left">
                <div class="profile-image">
                    <div id="avatar">
                        <img class="" src="https://habrastorage.org/r/w120/we../../../../96/5d0796e3dbec3359239103.jpeg" alt="">
                    </div>
                </div>
                <h3>{{profile.lastName}} {{profile.firstName}}</h3>
                <ul class="list-unstyled user_data">
                    <li><i class="fa fa-map-marker user-profile-icon"></i> San Francisco, California, USA
                    </li>
                    <li>
                        <i class="fa fa-briefcase user-profile-icon"></i> Software Engineer
                    </li>
                    <li class="m-top-xs">
                        <i class="fa fa-external-link user-profile-icon"></i>
                        <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
                    </li>
                </ul>
                <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i> Редактировать профиль</a>
            </b-col>
            <b-col md="9" sm="9" xs="12" class="profile-right">2</b-col>
        </b-row>
    </div>
</template>

<script>
    import Account from "../../api/Account";

    export default {
        name: "profile",

        data: function(){
            return {
                profile: {}
            }
        },

        async asyncData() {

            let profile = await Account.getProfileInfo()

            return {
                profile: profile.data
            }
        }
    }
</script>

<style scoped>
    .profile-left {

        /*background-color: #d34836;*/
    }
    .profile-left h3 {
        color: #73879C;
        padding: 10px 0 10px 0;
    }



    .profile-right {

        /*background-color: #24873d;*/
    }

    .profile-image {
        display: block;
        max-width: 100%;
        height: auto;
    }
</style>
