<template>
    <b-nav-item-dropdown right no-caret>
        <template slot="button-content">
            <img src="~static/img/avatars/6.jpg" class="img-avatar">
        </template>
        <b-dropdown-header tag="div" class="text-center"><strong></strong></b-dropdown-header>
        <b-dropdown-item><i class="fa fa-bell-o"></i> Updates
            <b-badge variant="info">{{itemsCount}}</b-badge>
        </b-dropdown-item>
        <b-dropdown-item><i class="fa fa-envelope-o"></i> Messages
            <b-badge variant="success">{{itemsCount}}</b-badge>
        </b-dropdown-item>
        <b-dropdown-item><i class="fa fa-tasks"></i> Tasks
            <b-badge variant="danger">{{itemsCount}}</b-badge>
        </b-dropdown-item>
        <b-dropdown-item><i class="fa fa-comments"></i> Comments
            <b-badge variant="warning">{{itemsCount}}</b-badge>
        </b-dropdown-item>

        <b-dropdown-header tag="div" class="text-center"><strong>Параметры</strong></b-dropdown-header>

        <b-dropdown-item  @click="$router.push('/account/profile')"><i class="fa fa-user"></i> Профиль</b-dropdown-item>
        <b-dropdown-item><i class="fa fa-wrench"></i> Настройки</b-dropdown-item>

        <b-dropdown-divider></b-dropdown-divider>

        <b-dropdown-item @click="logout"><i class="fa fa-lock"></i> Выход</b-dropdown-item>

    </b-nav-item-dropdown>
</template>


<script>
    import Cookie from "../../utils/cookie";
    export default {
        name: 'header-dropdown',
        data: () => {
            return {
                itemsCount: 42
            }
        },

        methods: {

            async logout() {
                try {
                    Cookie.remove('access_token');
                    this.$store.commit('access_token', '');
                    this.$store.commit('user/profile', {});
                    this.$router.push('/login');
                } catch (e) {
                    this.formError = e.message
                }
            }
        }
    }
</script>

