<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6" sm="8">
          <b-card no-body class="mx-4">
            <b-card-body class="p-4">
              <h4>Подтверждение регистрации</h4>
<!--              <p class="text-muted">Создание нового аккаунта</p>-->

              <b-input-group class="mb-3">
                <b-input-group-prepend>
                  <b-input-group-text>код</b-input-group-text>
                </b-input-group-prepend>
                <input
                        type="text"
                        class="form-control"
                        placeholder="- - - -"
                        v-model="confirmation_code"
                        maxlength="4"
                        required
                >
              </b-input-group>


              <b-button variant="success" @click="confirmation" block>Отправить код подтверждения</b-button>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>

  import Registration from "../../api/registration";


export default {
  middleware: "not-check-auth",
  name: 'Register',
  layout: 'clean',

  data: () => {
    return {
      confirmation_code: ''
    }
  },

  methods: {
    async confirmation() {
      let data = await Registration.confirmation(this.$store.getters['email'], this.confirmation_code);

      this.$toast.show(data.msg, {
          duration: 5000,
          type: data.level,
          onComplete: () => {
              if (data.code === 0)
                this.$router.push('/login');
          }
      })


    }
  }
}
</script>
