<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6" sm="8">
          <b-card no-body class="mx-4">
            <b-card-body class="p-4">
              <h1>Регистрация</h1>
              <p class="text-muted">Создание нового аккаунта</p>

              <b-input-group class="mb-3">
                <b-input-group-prepend>
                  <b-input-group-text>@</b-input-group-text>
                </b-input-group-prepend>
                <input
                        type="text"
                        class="form-control"
                        placeholder="E-Mail"
                        v-model="registration_data.email"
                >
              </b-input-group>

              <b-input-group class="mb-3">
                <b-input-group-prepend>
                  <b-input-group-text><i class="fa fa-phone"></i></b-input-group-text>
                </b-input-group-prepend>
                <input
                        type="tel"
                        class="form-control"
                        placeholder="Телефон"
                        v-model="registration_data.phone"
                >
              </b-input-group>

              <b-input-group class="mb-3">
                <b-input-group-prepend>
                  <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                </b-input-group-prepend>
                <input
                        type="password"
                        class="form-control"
                        placeholder="Пароль"
                        v-model="registration_data.password"
                >
              </b-input-group>

              <b-input-group class="mb-4">
                <b-input-group-prepend>
                  <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                </b-input-group-prepend>
                <input
                        type="password"
                        class="form-control"
                        placeholder="Повторите пароль"
                        v-model="registration_data.confirm_password"
                >
              </b-input-group>

              <b-button variant="success" @click="CreateAccount" block>Создать аккаунт</b-button>
            </b-card-body>
            <b-card-footer class="p-4">
<!--              <b-row>-->
<!--                <b-col cols="6">-->
<!--                  <b-button block class="btn btn-facebook"><span>facebook</span></b-button>-->
<!--                </b-col>-->
<!--                <b-col cols="6">-->
<!--                  <b-button block class="btn btn-twitter" type="button"><span>twitter</span></b-button>-->
<!--                </b-col>-->
<!--              </b-row>-->
            </b-card-footer>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>

  import Registration from "../../api/registration";

export default {
  middleware: "not-check-auth",
  name: 'Register',
  layout: 'clean',

  data: () => {
    return {
      registration_data: {
        email: '',
        phone: '',
        password: '',
        confirm_password: '',
      }
    }
  },

  methods: {
    async CreateAccount() {
      let formData = new FormData();

      for (let key in this.registration_data) {
        // noinspection JSUnfilteredForInLoop
        formData.append(key, this.registration_data[key])
      }

      let data = await Registration.registration(formData);

      this.$store.commit('email', this.registration_data.email);

      this.$toast.show(data.msg, {
          duration: 3000,
          type: data.level,
          onComplete: () => {
              if (data.code === 0) this.$router.push('/registration/confirmation');
          }
      })

    }
  }
}
</script>
