<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col md="12">
                <div class="head-tools float-right">
                    <b-button variant="outline-primary" @click="ExtrasCreate">Создать</b-button>
                </div>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Наименование</th>
                        <th scope="col">Описание</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-bind:key="item.id" v-for="item in this.extras.items">
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>
                            <b-button variant="outline-primary" @click="ExtrasEdit(item.id)">Редактировать</b-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <b-pagination
                        v-model="pagination.currentPage"
                        :total-rows="this.extras.count"
                        :per-page="pagination.perPage"
                        @change="PaginationChange"
                ></b-pagination>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import {Extras} from "../../../api/Extras";

    export default {
        name: "index",
        middleware: "check-auth",
        data: function () {
            return {

                pagination: {
                    perPage: 10,
                    currentPage: 0,
                },

                /* Table products */
                extras: {
                    count: 0,
                    offset: 0,

                    fields: [
                        {
                            key: 'id',
                            sortable: true,
                            visible: false
                        },
                        {
                            key: 'name',
                            sortable: true
                        },
                        {
                            key: 'description',
                            sortable: false
                        },
                    ],
                    items: []
                }
            }
        },

        async asyncData() {
            let response_extras = await Extras.get()

            return {
                extras: {
                    count: response_extras.count,
                    offset: 0,
                    items: response_extras.items
                }
            }
        },

        methods: {
            ExtrasCreate() {
                this.$router.push({
                    path: "/inventory/extras/new"
                })
            },

            async ExtrasUpdate() {
                let offset = Math.ceil((this.pagination.perPage * this.pagination.currentPage) - this.pagination.perPage)
                let response_extras = await Extras.get({
                    count: PER_PAGE_ROWS,
                    offset

                })
            },

            ExtrasEdit(id) {
                console.log(id)
            },

            PaginationChange() {
                setTimeout(async () => {
                    let offset = Math.ceil((this.pagination.perPage * this.pagination.currentPage) - this.pagination.perPage)
                    let response_extras = await Extras.get(this.pagination.perPage, offset)
                    this.extras.items = response_extras.items
                }, 0)
            }


        }
    }
</script>

<style>
    .page-link {
        user-select: none;
    }
</style>
