<template>
    <div class="animated fadeIn pl-4">
        <b-row>
            <b-col md="9">
                <!-- EXTRAS NAME -->
                <b-form-group
                        label-cols-sm="3"
                        label-cols-lg="2"
                        description=""
                        label="Наименование"
                        label-for="input-horizontal"
                >
                    <b-form-input
                            id="extras-name"
                            v-model="extras.name"
                            type="text"
                            @focus="FormFocus"></b-form-input>
                </b-form-group>
                <!-- EXTRAS NAME -->

                <!-- PRICE -->
                <b-form-group
                        label-cols-sm="3"
                        label-cols-lg="2"
                        description=""
                        label="Цена"
                        label-for="input-horizontal"
                >
                    <b-input-group prepend="$">
                        <b-form-input
                                id="extras-price"
                                v-model="extras.price"
                                type="number"
                                @focus="FormFocus"></b-form-input>
                    </b-input-group>
                </b-form-group>
                <!-- PRICE -->

                <!-- LIMITING -->
                <b-form-group
                        label-cols-sm="3"
                        label-cols-lg="2"
                        description=""
                        label="Ограничение"
                        label-for="input-horizontal"
                >
                    <b-input-group>
                        <b-form-input
                                id="extras-limit"
                                v-model="extras.limitation"
                                type="number"
                                @focus="FormFocus"></b-form-input>
                    </b-input-group>
                </b-form-group>
                <!-- LIMITING -->

                <!-- DESCRIPTION -->
                <b-form-group
                        label-cols-sm="3"
                        label-cols-lg="2"
                        description=""
                        label="Описание"
                        label-for="input-horizontal"
                >
                    <b-form-textarea
                            id="extras-description"
                            v-model="extras.description"
                            placeholder=""
                            rows="3"
                            max-rows="6"
                            limit="1000"
                            @focus="FormFocus"
                    ></b-form-textarea>
                </b-form-group>
                <!-- DESCRIPTION -->

            </b-col>

            <b-col md="3" v-if="help.title">
                <b-card class="bg-primary text-center">
                    <b-card-title>{{help.title}}</b-card-title>
                    <blockquote class="card-blockquote">
                        <div v-html="help.text"></div>
                    </blockquote>
                </b-card>
            </b-col>

        </b-row>
        <b-row>
            <b-col md="12" class="pt-5">
                <div class="form-actions">
                    <button type="button" class="btn btn-primary" @click="Cancel">Отмена</button>
                    <button type="button" class="btn btn-primary" @click="Save">Сохранить</button>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import {extras} from "../../../objects/extras";
    import {extras as extras_helper} from "../../../language/ru/help";
    import {Extras} from "../../../api/Extras";

    export default {
        name: "new",
        middleware: "check-auth",
        data: function () {
            return {
                extras,
                help: {
                    title: "",
                    text: "",
                },
                helper: extras_helper
            }
        },

        asyncData() {

            let ext = extras
            ext.description = ""
            ext.limitation = 0
            ext.image = ""
            ext.price = 0
            ext.name = ""

            return {
                extras: ext
            }
        },

        methods: {

            Cancel() {
                this.$router.push({
                    path: "/extras"
                })
            },


            async Save() {
                let formData = new FormData();
                formData.set("name", extras.name)
                formData.set("price", extras.price)
                formData.set("limitation", extras.limitation)
                // formData.append("image", extras.image)
                formData.set("description", extras.description)


                let response = await Extras.add(formData)

                this.$toast.show(response.msg, {
                    duration: 2500,
                    type: response.level,
                    onComplete: async () => {
                        this.extras = {}

                        if (response.code === 0)
                            this.$router.push({
                                path: "/inventory/extras"
                            })
                    }
                })

            },

            OnHelp(e) {
                if (typeof e.target !== "undefined")
                    this.ShowHelp(e.target.id)
            },


            ShowHelp(id) {
                for (let key in this.helper) {
                    if (this.helper[key].id === id) {
                        this.help.title = this.helper[key].title
                        this.help.text = this.helper[key].text
                        return
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
